APP_NAME=CenkorMES
APP_ENV=dev
APP_HOST=0.0.0.0
APP_PORT=8500

DB_URL=mysql+pymysql://root:root@127.0.0.1:3306/cenkermes?charset=utf8mb4
DB_ECHO=false
DB_AUTO_CREATE=true
DB_AUTO_SEED=true

JWT_SECRET=change_me_to_a_random_string
JWT_ALGORITHM=HS256

PUBLIC_BASE_URL=https://ck.mes.cenkor.cn
H5_PUBLIC_BASE_URL=https://ck.mes.cenkor.cn

STORAGE_DRIVER=local
STORAGE_LOCAL_ROOT=./data/storage

REDIS_URL=redis://127.0.0.1:6379/31
CELERY_BROKER_URL=redis://127.0.0.1:6379/31
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/41
